extends layout 
 
block content 
  h1= title 
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet",
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous") 
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js",
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p",
        crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js",
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF",
        crossorigin="anonymous")
  if (toShow == null) 
    h2 No instance to delete 
  else  
    - let animalid = toShow._id 
    - let name = toShow.name 
    - let type = toShow.type 
    - let color = toShow.color 
   
    div.row(class='mb-2') 
      div.mr-1 ID is 
      div #{animalid} 
    - let actionid = "/resource/animal/" + animalid 
    form(id='animalForm', action= actionid, method="PUT") 
     div.form-group 
        label(for='name',,class='form-label') Animal Name 
        input#name(type='text', name='name',class='form-control', value= name ) 
     div.form-group 
        label(for='size',,class='form-label') Animal Type 
        input#type(type='text', name='type',class='form-control', value= type ) 
     div.form-group 
        label(for='color',class='form-label') Animal Color 
        input#color(type='text', name='color',class='form-control', value= color ) 
     input(type="submit",class='btn btn-primary') 
 
    script. 
     document.forms['animalForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
     }); 